appier==1.32.0
cachetools==5.5.2
certifi==2024.7.4
charset-normalizer==3.3.2
ecdsa==0.19.2
google-api==0.1.12
google-api-core==2.30.3
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.74.0
grpcio==1.80.0
httplib2==0.22.0
idna==3.10
proto-plus==1.27.2
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.0
pyparsing==3.1.2
requests==2.32.5
rsa==4.9
six==1.16.0
uritemplate==4.1.1
urllib3==2.6.3
